[submodule ".registry"]
	path = .registry
	url = https://github.com/jemus42/jemus42.r-universe.dev
	branch = HEAD
[submodule "poddr"]
	path = poddr
	url = https://github.com/jemus42/poddr
[submodule "tRakt"]
	path = tRakt
	url = https://github.com/jemus42/tRakt
[submodule "tauturri"]
	path = tauturri
	url = https://github.com/jemus42/tauturri
