[submodule ".registry"]
	path = .registry
	url = https://github.com/jemus42/jemus42.r-universe.dev
	branch = HEAD
[submodule "attrakttv"]
	path = attrakttv
	url = https://github.com/jemus42/attrakttv
[submodule "discordiar"]
	path = discordiar
	url = https://github.com/jemus42/discordiar
[submodule "jemisc"]
	path = jemisc
	url = https://github.com/jemus42/jemisc
[submodule "jermd"]
	path = jermd
	url = https://github.com/jemus42/jermd
[submodule "poddr"]
	path = poddr
	url = https://github.com/jemus42/poddr
[submodule "radarrr"]
	path = radarrr
	url = https://github.com/jemus42/radarrr
[submodule "speedrunr"]
	path = speedrunr
	url = https://github.com/jemus42/speedrunr
[submodule "tRakt"]
	path = tRakt
	url = https://github.com/jemus42/tRakt
[submodule "tauturri"]
	path = tauturri
	url = https://github.com/jemus42/tauturri
